*
{
	margin:0;
	padding:0;
}
#container
{
	
	height:100%;
	width:1366px;
	margin:auto;
}

div#header p
{
	background:white;
	padding:12px;
	
     
	font-family:monotype corsiva;
	font-size:4.0em;
	color:black;
	margin-left:500px;
	
}
#navigation
{
background:#DDA0DD;
padding:10px;/*padding in navigation*/
background:teal;
margin-top:0px;
}
div#navigation ul
{
	list-style:none; /* removed bullets here*/
	margin-left:300px;
}
div#navigation ul li
{
	display:Inline-block; /*vertical to horizontal list */
	margin-right:+20px;/*by default li right margin gives some space even if it is zero*/
	font-size:1.5em
}
div#navigation ul li a
{
	text-decoration:none; /* removes underline from hyperlink */
	background:teal;
	color:white;
	padding:10px;
	padding-left:40px;
	padding-right:40px;
	font-size:1.5em
}
div#navigation ul li a:hover /*mouse over effect*/
{
	background:green;
	color:white;
	border-top:1px solid maroon;
	border-bottom:1px solid maroon;
	font-size:1em;
}


